<!DOCTYPE html>
<html>
    <head>
        <head>
            <title>Error</title>
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="/css/styles.css">
        </head>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorText}}</p>
        </div>
        {{>footer}}
    </body>
</html>